<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Animal_Xing_Planner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
    <userSettings>
        <Animal_Xing_Planner.Properties.Settings>
            <setting name="SoundOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Accent" serializeAs="String">
                <value />
            </setting>
            <setting name="MinimizeToTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Maximised" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TPC" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="CustomSound" serializeAs="String">
                <value />
            </setting>
            <setting name="VillagerToggle" serializeAs="String">
                <value>True</value>
            </setting>
        </Animal_Xing_Planner.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.6.0" newVersion="2.6.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.6.0" newVersion="2.6.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NuGet.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.7.41101.299" newVersion="2.7.41101.299" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Abstractions" publicKeyToken="d480b5b72fb413da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.0.68" newVersion="1.4.0.68" />
      </dependentAssembly>
    </assemblyBinding>
    <generatePublisherEvidence enabled="false"/>
  </runtime>
</configuration>
